<library path="src">
  <class name="Controllers" type="riptide_rqt_plugins.controllers.ControllersPlugin" base_class_type="rqt_gui_py::Plugin">
    <description>
      A python GUI plugin to interact with controllers actions
    </description>
    <qtgui>
      <group>
        <label>OSU UWRT</label>
        <statustip>Custom Widgets for OSU UWRT's riptide software</statustip>
        <icon type="theme">folder</icon>
      </group>
      <!-- optional grouping...
      <group>
        <label>Subgroup</label>
      </group>
      -->
      <label>Controller Actions</label>
    </qtgui>
  </class>
</library>